/*GLOBAL*/
* {
  font-family: 'Francois One', sans-serif;
}
.clear{
  clear:both;
}
.hidden{
  display:none;
}
/*FUNCTIONS*/
/*HEADER*/
#main {
  max-width: 80%;
  margin: auto;
}
#main #header {
  background-color: white;
  padding: 1%;
  position: fixed;
  width: 80%;
}
#main #header nav{
  width:74%;
  margin:0 auto;
  margin: 0 6% 0 14%;
  display: inline-block;
}
#main #header h1{
  text-align: center;
  font-size: 2.5em;
  margin: 0 3%;
  display:inline-block;
  vertical-align: top;
}
#main #header li {
  cursor: pointer;
  width: 20%;
  display: inline-block;
}
#main #header .social-icons{
  display:inline-block;
  width:5%;
}
#main #header .social-icons i{
  margin:0 2%;
}
#main #header h3 {
  text-decoration: none;
  margin: 0 1%;
  display: inline-block;
}
.header-link{
  display:inline-block;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  margin: 1% 3%;
}
/*SIDEBAR*/
#main #sidebar{
  padding-top: 10%;
  width: 20%;
  position:fixed;
}
#favourites{
  width:70%;
  display:inline-block;
  vertical-align:tope;
  margin-left:20%;
}
#main #sidebar a{
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  display: block;
}
/*APPVIEW*/
ul#favourites {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding-top: 10%;
}
ul#favourites .picView{
  text-align:center;
  font-size:2em;
  margin-left:25%;
  width:110%;
}
ul#favourites li.pic {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 1% 6%;
}
ul#favourites li.pic a {
  text-align: center;
  display: block;
  margin-bottom: 5%;
  cursor: pointer;
  text-decoration: none;
}
ul#favourites li.pic a:hover {
  color: #808080;
}
ul#favourites li.pic img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
ul#favourites li.pic p {
  text-align: center;
}
.product-div{
  width: 33%;
  display: inline-block;
}
.product-div{
  width: 33%;
  display: inline-block;
}
.product-div img{
  width: 100%;
  height:100%;
  display: block;
  position:relative;
}



