/*GLOBAL*/
* {
  font-family: 'Special Elite';
}
/*FUNCTIONS*/
/*HEADER*/
#main {
  max-width: 80%;
  margin: auto;
}
#main #header {
  background-color: #f6f6f6;
  padding: 1%;
  position: fixed;
  width: 80%;
}
#main #header li {
  cursor: pointer;
  width: 20%;
  display: inline-block;
}
#main #header h3 {
  text-decoration: none;
  margin: 0 1%;
  display: inline-block;
}
/*APPVIEW*/
ul#favourites {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding-top: 17%;
}
ul#favourites li.pic {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 1% 6%;
}
ul#favourites li.pic a {
  text-align: center;
  display: block;
  margin-bottom: 5%;
  cursor: pointer;
  text-decoration: none;
}
ul#favourites li.pic a:hover {
  color: #808080;
}
ul#favourites li.pic img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
ul#favourites li.pic p {
  text-align: center;
}
