/*GLOBAL*/
*
  font-family 'Special Elite'

/*FUNCTIONS*/
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/*HEADER*/
#main
  max-width: 80%
  margin: auto
  #header
    background-color: #f6f6f6;
    padding: 1%;
    position: fixed;
    width: 80%;

    li
      cursor pointer
      width:20%
      display:inline-block
    h3:hover 
      text-decoration underline
/*APPVIEW*/
ul#favourites
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 0px
  padding-top:17%;
  li.pic 
    width:20%
    display:inline-block
    vertical-align: top
    padding:1% 6%
    a
      text-align center
      display block
      margin-bottom 5%
      cursor pointer
      text-decoration none
    a:hover
      color grey
    img
      display block
      margin 0 auto
      max-width 100%
    p 
      text-align center


    