<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Blog</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script src="js/lib/jquery-1.11.0.min.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/vendor/tabletop.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/models/product.js"></script>
  <script src="js/models/pick.js"></script>
  <script src="js/models/category.js"></script>
  <script src="js/models/article.js"></script>
  <script src="js/collections/products.js"></script>
  <script src="js/collections/picks.js"></script>
  <script src="js/collections/articles.js"></script>
  <script src="js/views/appView.js"></script>
  <script src="js/views/picListView.js"></script>
  <script src="js/views/picView.js"></script>
  <script src="js/views/articleView.js"></script>
  <script src="js/router/router.js"></script>
  <script src="js/blog.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="main">
</div>

<script id="appView" type="text/x-underscore-template">
  <div id="header">
    <nav>
      <a href="#" class="header-link" id="fashion">fashion</a>
      <a href="#" class="header-link" id="writing">writing</a>
      <h1>MONTH AND BARK</h1>
      <a href="#" class="header-link" id="about">about</a>
      <a href="#" class="header-link" id="contact">contact</a>
    </nav>
    <div class="social-icons">
      <i class="fa fa-camera-retro"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
    </div>
    <hr>
  </div>
  <div id="sidebar">
    <ul>
      <a href="#" id="feed" class="sidebar-link">FEED</a>
      <a href="#" id="sunglasses" class="sidebar-link">SUNGLASSES</a>
      <a href="#" id="skirts" class="sidebar-link">SKIRTS</a>
      <a href="#" id="shoes" class="sidebar-link">SHOES</a>
      <a href="#" id="shoes" class="sidebar-link">TROUSERS</a>
      <a href="#" id="shoes" class="sidebar-link">ACCESSORIES</a>
      <a href="#" id="shoes" class="sidebar-link">BIKINI</a>
    </ul>
  </div>
  <ul id="favourites"></ul>
</script>

<script id="categoryView" type="text/x-underscore-template">
  <div id="sub-heading">
    <h3>m&b <%=slug%></h3>
  </div>
</script>

<script id="productListView" type="text/x-underscore-template">
    <img src="<%= imageurl1 %>">
    <div class="hidden">
      <a target="blank" href="<%= url %>"><%= slug %></a>
      <p><%= price %></p>
    </div>
</script>

<script id="picView" type="text/x-underscore-template">
    <% if(date){%>
      <p><%= date %></p>
    <%}%>
</script>

<script id="articleView" type="text/x-underscore-template">
    <h3><% name %></h3>
    <p><img src='<%= image_1%>'/></p>
    <br>
</script>

</body>
</html>