<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Blog</title>
  <script src="js/lib/jquery-1.11.0.min.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/vendor/tabletop.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/models/pic.js"></script>
  <script src="js/models/category.js"></script>
  <script src="js/collections/pics.js"></script>
  <script src="js/views/appView.js"></script>
  <script src="js/views/picListView.js"></script>
   <script src="js/views/categoryView.js"></script>
  <script src="js/views/picView.js"></script>
  <script src="js/router/router.js"></script>
  <script src="js/blog.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="main">
</div>

<script id="appView" type="text/x-underscore-template">
  <div id="header">
    <h1>Month and Bark</h1>
    <h3 class="favourites">m&b favourites</h3>
    <h3 class="brands">m&b brands</h3>
  </div>
  <ul id="favourites"></ul>
</script>

<script id="categoryView" type="text/x-underscore-template">
  <div id="sub-heading">
    <h3>m&b <%=slug%></h3>
  </div>
</script>

<script id="postListView" type="text/x-underscore-template">
    <a target="blank" href="<%= url %>"><%= slug %></a>
    <img src="<%= imageurl1 %>">
    <p><%= price %></p>
</script>

</body>
</html>