<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Blog</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script src="js/lib/jquery-1.11.0.min.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/vendor/tabletop.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/models/product.js"></script>
  <script src="js/models/pick.js"></script>
  <script src="js/models/category.js"></script>
  <script src="js/models/article.js"></script>
  <script src="js/collections/products.js"></script>
  <script src="js/collections/picks.js"></script>
  <script src="js/collections/articles.js"></script>
  <script src="js/views/appView.js"></script>
  <script src="js/views/picListView.js"></script>
  <script src="js/views/articleNavView.js"></script>
  <script src="js/views/articleNavObjectView.js"></script>
  <script src="js/views/picView.js"></script>
  <script src="js/views/articleView.js"></script>
  <script src="js/views/contactView.js"></script>
  <script src="js/views/aboutView.js"></script>
  <script src="js/views/articleObjectView.js"></script>
  <script src="js/router/router.js"></script>
  <script src="js/blog.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="main">
  <div id="header">
    <nav>
      <ul>
        <img class="logo" class="header-link" src="../images/logo_m&b.png"/>
        <a href="#/m&b/fashion" class="header-link" id="fashion">fashion</a>
        <!-- <a href="#/m&b/writing" class="header-link" id="writing">writing</a> -->
        <h1>MONTH AND BARK</h1>
        <!-- <a href="#/m&b/about" class="header-link" id="about">about</a> -->
        <a href="#/m&b/contact" class="header-link" id="contact">contact</a>
      <ul>
    </nav>
    <!-- <div class="social-icons">
      <i class="fa fa-camera-retro"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
    </div> -->
  </div>
</div>

<script id="appView" type="text/x-underscore-template">
  <div id="sidebar">
    <ul>
      <div id="feed" class="sidebar-link">FEED</div>
      <div id="intimates&swimwear" class="sidebar-link">INTIMATES & SWIMWEAR</div>
      <div id="skirts" class="sidebar-link">SKIRTS</div>
      <div id="shoes" class="sidebar-link">SHOES</div>
      <div id="trousers" class="sidebar-link">TROUSERS</div>
      <div id="accessories" class="sidebar-link">ACCESSORIES</div>
      <div id="jewellry" class="sidebar-link">JEWELLRY</div>
      <div id="bags" class="sidebar-link">BAGS</div>
      <div id="dresses" class="sidebar-link">DRESSES</div>
      <div id="tops" class="sidebar-link">TOPS</div>
      <div id="coats" class="sidebar-link">COATS</div>
    </ul>
  </div>
  <ul id="favourites"></ul>
</script>

<script id="categoryView" type="text/x-underscore-template">
  <div id="sub-heading">
    <h3>m&b {{=slug}}</h3>
  </div>
</script>

<script id="productListView" type="text/x-underscore-template">
    <img src="{{= imageurl1 }}">
    <a target="blank" href="{{= url }}" class="hide" >
      <p>{{= slug }}</p>
      <p>{{= price }}</p>
    </a>
</script>

<script id="picView" type="text/x-underscore-template"  class="js-masonry"
  data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
    {{ if(date){}}
      <p>{{= date }}</p>
    {{}}}
</script>

<script id="articleView" type="text/x-underscore-template">
    <h3>{{= title }}</h3>
    <p><img src='{{= image_1}}'/></p>
    <p>{{= content }}</p>
    <br>
</script>

<script id="articleNavObjectView" type="text/x-underscore-template">
    <a href="#" id="feed" class="article-sidebar-link">{{= title }}</a>
</script>

<script id="articleNavObjectView" type="text/x-underscore-template">
    <a href="#" id="feed" class="article-sidebar-link">{{= title }}</a>
</script>

<script id="articleNavView" type="text/x-underscore-template">
    <div id="sidebar">
    <ul>
      <a href="#" id="food" class="sidebar-link">FOOD</a>
      <a href="#" id="politics" class="sidebar-link">POLITICS</a>
      <a href="#" id="fashion" class="sidebar-link">FASHION</a>
    </ul>
  </div>
</script>

<script id="articleObjectView" type="text/x-underscore-template">
    <a href="#">{{= title }}</a>
    <img src={{= image_1 }} />
    <section class="article-content">
      <i class="fa fa-times-circle"></i>
      {{= content }}
    </section>
</script>

<script id="aboutView" type="text/x-underscore-template">
    <div class="about">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut provident eum, a ipsum culpa, necessitatibus adipisci excepturi ea nobis magnam illum sequi est et incidunt mollitia, repellendus deserunt sint?</p>
    </div>
</script>

<script id="contactView" type="text/x-underscore-template">
    <h3>Please get in contact with us at month&bark@gmail.com</h3>
    <div class="contact">
      <img class="london-skyline" src="images/london_skyline.png" alt="london_skyline"/>
    </div>
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57375135-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>