/*GLOBAL*/
*
  font-family: 'Francois One', sans-serif
.clear
  clear:both

/*FUNCTIONS*/
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/*HEADER*/
#main
  max-width: 90%
  margin: auto
  #header
    padding-bottom:10px
    margin-bottom:20px
    border: 1px solid lightgrey
    background-color:light pink
    padding-top: 1%;
    position: fixed;
    width: 100%;
    background-color:white
    z-index:1000
    top:0
    left:0
    nav
      margin:0 auto
      ul
        width:92%
        padding: 0;
        margin: 0 auto 0 8%;
        .logo
          width:70px
          margin-right:14%
          display:inline-block
        .social-icons
          margin-left:9%
          width:9%
          padding-bottom: 1.5%  
          vertical-align:bottom
          i
            margin: 0 7%
          i:hover
            color:lightgrey
    .header-link
      display:inline-block;
      font-family: 'Pacifico', cursive;
      text-decoration: none;
      font-size: 1.5em;
      color: black;
      margin: 0 2%;
      padding:1% 1%
      vertical-align:bottom
    .header-link:hover, h1:hover
      opacity:0.6
    h1
      text-align: center;
      font-size: 3.5em;
      margin: 0 3%;
      display:inline-block;
      vertical-align: bottom;
    li
      cursor pointer
      width:20%
      display:inline-block
    .social-icons
      display:inline-block;
      width:5%;
      i
        margin:0 2%
    h3
      text-decoration none
      margin 0 1%
      display inline-block
/*SIDEBAR*/
  #sidebar
    padding-top: 8%
    width: 20%
    position:fixed
    font-size 1.3em
    .sidebar-link
      cursor:pointer
    .sidebar-link:hover
      opacity:0.7
      a
        font-size: 1.5em;
        color: black;
        text-decoration: none;
        display: block;
 /*APPVIEW*/
  ul#favourites
    -webkit-margin-before: 0em
    -webkit-margin-after: 0em
    -webkit-margin-start: 0px
    -webkit-margin-end: 0px
    -webkit-padding-start: 0px
    width:70%;
    display:inline-block;
    vertical-align:top;
    margin-left:20%;
    padding-top:8%;
    .picView
      border: 1px dotted lightgrey
      padding: 1%;
      margin: 1.5% 1%;
      p
        margin-bottom:0
        text-align:center
        font-size:1.5em
      .product-div
        position: relative
        width: 28.5%
        display: inline-block
        vertical-align:top
        margin: 0 2%
        img
          width: 100%;
          height:100%;
          display: block;
        a
          display:block
      .hide
        display:none
      .showProductInfoDiv
        position:absolute
        text-align: center;
        text-decoration: none;
        color: black;
        /*padding-top:30%*/
        p
          vertical-align:center
          font-size:1em

  .articleNavSidebarView
    list-style: none
    padding-top: 100px
    width:20%
    display:inline-block
    position:fixed
    a
      text-decoration:none
  .articleView
    width: 100%
    padding-top:10%
    .articleObjectView
      width:48%
      display:inline-block
      position:relative
      margin:1%
      text-align:center
      cursor pointer
      a
        text-decoration:none
        color:black
        position:absolute
        top: 37%
        width: 90%
        left: 10%
        color: black
      section
        p
          font-family:sans-serif
      img
        width:100%
        opacity:0.5
      i.fa-times-circle
        position:absolute
        top:0
        right:0
        font-size:34px
        cursor pointer
      .article-content
        display:none
    .articleObjectView.hidden
      display:none
    .articleObjectViewShow
      width:90%
      display:block !important
      a
        position:static
      img
        width:75%
        display:block
        margin: 4% auto

/*ABOUTVIEW*/
  .aboutView
    width: 67%;
    margin: 0 auto
    padding-top:10%
  .contactView
    padding-top:15%
    width:49%
    margin:0 auto
    h3
      font-family: 'Pacifico', cursive
      width: 89%;
      margin-left: 14%;
    .london-skyline
      width:50%
      position:absolute
      bottom:0
      left: 50%;
      margin-left: -300px;


@media (max-width: 1250px) {
  .social-icons{
    display:none!important
  }
}






    